
<h1>{{pwsTitle}}</h1>
<br/>
<!-- <nav>
    <div class="navbar-header">
        <a class="navbar-brand">Weather Station</a>
    </div>
    <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item"><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li class="nav-item"><a routerLink="/datadisplay" routerLinkActive="active">Charts</a></li> 
    </ul>
</nav>   -->
 <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/datadisplay" routerLinkActive="active">Charts</a>
</nav>   
<router-outlet></router-outlet>
