<table cellspacing="1" cellpadding="0" width="100%" align="left" border="0">
  <th>Current readings</th>
  <tbody>
      <tr><td>Indoor Temperature</td><td>{{indoorTemp}}</td></tr>
      <tr><td>Outdoor Temperature</td><td>{{outdoorTemp}}</td></tr>
      <tr><td>Indoor Humidity</td><td>{{indoorHumidity}}</td></tr>
      <tr><td>Outdoor Humidity</td><td>{{outdoorHumidity}}</td></tr>
      <tr><td>Pressure</td><td>{{outPressure}}</td></tr>
      <tr><td>Current DateTime</td><td>{{curDateTime}}</td></tr>
  </tbody>  
</table>
